.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content-wrap {
    flex: 1;
  }
  .id1
  {
    width:200px;
    color:chartreuse;
    background-color: #333;
  }
  .top-react-icons{
    font-size:50rem;
  }
  .text-left-right {
    text-align: right;
    position: relative;
}
.left-text {
    left: 0;
    position: absolute;
}
.byline {
    font-size: 16px;
    color: rgba(140, 140, 140, 1);
}